
 /* Skriv din CSS-kod här för att styla din hero image! */ 
/* "*" är en universal selector som återställer elements. Prova att ändra margins och se vad som händer.*/
*{
    margin: 0;
    font-family: Helvetica, "sans serif";
  }
  
/******* BAKGRUNDSBILD ******/ 
.hero-content {

  /* Du kan byt bakgrundsbilden genom att ändra url. Kom ihåg att lägga bilden i rätt mapp! */
  background-image: url("./images/konfetti.jpg");

  /* Här ändrar du höjden på bilden*/
  height: 400px;

    /* Positionen av bilden */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
  /****** INFORMATIONEN OVANPÅ BILDEN*****/
  /* Här stylar du informationen (texten och knappens position) ovanpå bilden */
.hero-text-and-button{
    color:white;
      /* positionera allt i center med antingen text-align: center eller hjälp av exempelvis flexbox. 
      Du kan såklart ändra position till left eller right. Få mer hjälp här: https://www.w3schools.com/css/css_text_align.asp*/
    text-align: center;
}

    /****** STYLA DIN KNAPP HÄR NEDAN****/
.button{
  /*Få hjälp här: https://www.w3schools.com/css/css3_buttons.asp */
  color: white;
}

/* Styling för Rubrikerna*/
h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;

}
h2 {
  font-size: 30px;
  margin-bottom: 40px;
}